header {
     height: 10svh;
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     width: 100%;
}

header nav {
     width: 100%;
}

header ul {
     display: flex;
     justify-content: space-around;
     font-size: 30px;
     width: 100%;
     align-items: center;
}

.active {
     border-bottom: 3px solid aquamarine;
}